html{
  height: 100%;
}

/** サイドバー */
body{
  height: 100%;
}
#container{
  width: 100%;
  overflow: hidden;
}

#container_main{
  height: 90%;
  width: 80%;
  padding: 0 2%;
  float: right;
}

#container_sidebar{
  width: 15%;
  padding: 0 2%;
  float: left;
}

/** 投稿画面 */
.cell{
  float: left;
  width: 50%;
  height: 90%;
}

#markdown{
  width: 90%;
  height: 600px;
}
