<div id="container_sidebar">
  <div class="side_bar">

    <p> <%= @user.nickname %> </p>


    <div class="collection">
      <a href="#!" class="collection-item">ノート一覧</a>
      <%= link_to 'ログアウト', logout_path, class: 'collection-item' %>
      <a href="#!" class="collection-item">ヘルプ</a>
    </div>

  </div>

  <%= link_to '投稿する', new_articles_path(uid: @user.uid), class: 'waves-effect waves-light btn' %>

</div>